*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(0, 0, 109);
    color: white;
    height: 6rem;
    line-height: 5rem;
}
.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 70%;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 6rem;
}
#user-score,#bot-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: brown;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
}